#board{
    display: block;
    margin: 0 auto;
    /* width: 1200px;
    height: 1200px; */
    border: 2px dashed grey;
    /* transform: scale(2);
    transform-origin: top left; */
    border-radius: 17px;
}