/* .Aside {
    width: 25vw;
    color:red;
} */

.grey {
    color: grey;
}

.bold {
    font-weight: 800;
}

.color-Peachy {
    color: #FFDDCC;
}

.color-Cherry {
    color: #FF6969;
}

.color-Brownie {
    color: #967E76;
}

.color-Pumpkin {
    color: #F9B572;
}

.color-Wavy {
    color: #89CFF3;
}

.color-Lime {
    color:#D0F5BE;
}

.color-Latte {
    color: #D6C7AE;
}

.color-Sky {
    color: #82A0D8;
}

.color-Poco {
    color: #C05555;
}

.color-Cookie {
    color: #C58940;
}

.color-BonBon {
    color: #EDB7ED;
}

.color-Sunny {
    color: #ECEE81;
}

.color-Milky {
    color: #ECE3CE;
}

.color-Frogy {
    color: #B3C99C;
}
