.Chat {
    display: flex;
    flex-direction: column;
}

.Chat-display {
    border: 2px dashed grey;
    border-radius: 17px;
    margin-bottom: 1em;
    height: 400px;
    width: 300px;

}

input {
    /* margin-bottom: 1em; */
    
    height: 3em;
}

button {
    height: 3em;
    
    color: white;
}